<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbs.db.dao.TopicEntityMapper" >
  <resultMap id="BaseResultMap" type="com.bbs.db.entity.TopicEntity" >
    <id column="topic_id" property="topicId" jdbcType="INTEGER" />
    <result column="board_id" property="boardId" jdbcType="INTEGER" />
    <result column="topic_title" property="topicTitle" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_post" property="lastPost" jdbcType="TIMESTAMP" />
    <result column="topic_view" property="topicView" jdbcType="INTEGER" />
    <result column="topic_replies" property="topicReplies" jdbcType="INTEGER" />
    <result column="digest" property="digest" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    topic_id, board_id, topic_title, user_id, create_time, last_post, topic_view, topic_replies, 
    digest
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.bbs.db.entity.TopicEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0" >
      limit #{limitStart} , #{limitSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_topic
    where topic_id = #{topicId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_topic
    where topic_id = #{topicId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bbs.db.entity.TopicEntityExample" >
    delete from t_topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.bbs.db.entity.TopicEntity" >
    insert into t_topic (topic_id, board_id, topic_title, 
      user_id, create_time, last_post, 
      topic_view, topic_replies, digest
      )
    values (#{topicId,jdbcType=INTEGER}, #{boardId,jdbcType=INTEGER}, #{topicTitle,jdbcType=VARCHAR}, 
      #{userId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{lastPost,jdbcType=TIMESTAMP}, 
      #{topicView,jdbcType=INTEGER}, #{topicReplies,jdbcType=INTEGER}, #{digest,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.bbs.db.entity.TopicEntity" >
    insert into t_topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="topicId != null" >
        topic_id,
      </if>
      <if test="boardId != null" >
        board_id,
      </if>
      <if test="topicTitle != null" >
        topic_title,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastPost != null" >
        last_post,
      </if>
      <if test="topicView != null" >
        topic_view,
      </if>
      <if test="topicReplies != null" >
        topic_replies,
      </if>
      <if test="digest != null" >
        digest,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="topicId != null" >
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="boardId != null" >
        #{boardId,jdbcType=INTEGER},
      </if>
      <if test="topicTitle != null" >
        #{topicTitle,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastPost != null" >
        #{lastPost,jdbcType=TIMESTAMP},
      </if>
      <if test="topicView != null" >
        #{topicView,jdbcType=INTEGER},
      </if>
      <if test="topicReplies != null" >
        #{topicReplies,jdbcType=INTEGER},
      </if>
      <if test="digest != null" >
        #{digest,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bbs.db.entity.TopicEntityExample" resultType="java.lang.Integer" >
    select count(*) from t_topic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_topic
    <set >
      <if test="record.topicId != null" >
        topic_id = #{record.topicId,jdbcType=INTEGER},
      </if>
      <if test="record.boardId != null" >
        board_id = #{record.boardId,jdbcType=INTEGER},
      </if>
      <if test="record.topicTitle != null" >
        topic_title = #{record.topicTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastPost != null" >
        last_post = #{record.lastPost,jdbcType=TIMESTAMP},
      </if>
      <if test="record.topicView != null" >
        topic_view = #{record.topicView,jdbcType=INTEGER},
      </if>
      <if test="record.topicReplies != null" >
        topic_replies = #{record.topicReplies,jdbcType=INTEGER},
      </if>
      <if test="record.digest != null" >
        digest = #{record.digest,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_topic
    set topic_id = #{record.topicId,jdbcType=INTEGER},
      board_id = #{record.boardId,jdbcType=INTEGER},
      topic_title = #{record.topicTitle,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      last_post = #{record.lastPost,jdbcType=TIMESTAMP},
      topic_view = #{record.topicView,jdbcType=INTEGER},
      topic_replies = #{record.topicReplies,jdbcType=INTEGER},
      digest = #{record.digest,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbs.db.entity.TopicEntity" >
    update t_topic
    <set >
      <if test="boardId != null" >
        board_id = #{boardId,jdbcType=INTEGER},
      </if>
      <if test="topicTitle != null" >
        topic_title = #{topicTitle,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastPost != null" >
        last_post = #{lastPost,jdbcType=TIMESTAMP},
      </if>
      <if test="topicView != null" >
        topic_view = #{topicView,jdbcType=INTEGER},
      </if>
      <if test="topicReplies != null" >
        topic_replies = #{topicReplies,jdbcType=INTEGER},
      </if>
      <if test="digest != null" >
        digest = #{digest,jdbcType=TINYINT},
      </if>
    </set>
    where topic_id = #{topicId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbs.db.entity.TopicEntity" >
    update t_topic
    set board_id = #{boardId,jdbcType=INTEGER},
      topic_title = #{topicTitle,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_post = #{lastPost,jdbcType=TIMESTAMP},
      topic_view = #{topicView,jdbcType=INTEGER},
      topic_replies = #{topicReplies,jdbcType=INTEGER},
      digest = #{digest,jdbcType=TINYINT}
    where topic_id = #{topicId,jdbcType=INTEGER}
  </update>
</mapper>